body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

#title {
    padding: 3rem;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 0.5rem;
    color: white;
    text-transform: uppercase;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: red;
}

canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
    margin: auto 0;
}